<h2>Show</h2>



<table>
  <tr>
    <% @cat.attributes.keys.each do |key|  %>
    <th> <%= key %> </th>
    <% end %>
  </tr>
  <tr>
    <% @cat.attributes.values.each do |value|  %>
    <td> <%= value %> </td>
    <% end %>
  </tr>
</table>
